.rating {
	font-size: 20px;
	height: 70px;
	line-height: 70px;
}

.rating1:hover:before {
   content: "🤒";
   position: absolute;
    font-size: 30px;
  margin-left: -10px;
  -webkit-transform: scale(1.2);
    -webkit-transform: rotate(30deg);
}
.rating2:hover:before {
   content: "😣";
   position: absolute;
    font-size: 30px;
  margin-left: -10px;
    -webkit-transform: rotate(15deg);
}
.rating3:hover:before {
   content: "😐";
   position: absolute;
    font-size: 30px;
  margin-left: -10px;
}
.rating4:hover:before {
   content: "😎";
   position: absolute;
  font-size: 30px;
  margin-left: -10px;
    -webkit-transform: rotate(-15deg);
}
.rating5:hover:before {
   content: "🤑";
   position: absolute;
    font-size: 30px;
  margin-left: -10px;
  -webkit-transform: rotate(-30deg);
}